.body {
  background-color: #d9d3d3;
  font-family: auto;
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

.title {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  font-size: -webkit-xxx-large;
  color: #7045afad;
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
    font-size: xx-large;
    margin: 5% auto;
}




