.body {
  background-color: #d9d3d3;
  font-family: auto;
  width: auto;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  
}


.body_special {
  background-color: #d9d3d3;
  font-family: auto;
  width: auto;
  margin: auto;

}


/* .body_genre {
  background-color: #d9d3d3;
  font-family: auto;
  width: auto;
  margin: auto;
} */


#container {
  border: 2px #c1bbe7 solid;
  border-left-width: thick;
  border-bottom: 4px solid aliceblue;
  border-right-width: thick;
}


.header {
  border: 1px solid #bbb1ec;
  border-bottom: 0px solid beige;
  border-top: 1px solid #6f77d0;
}


#header_special {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}


.title_main_title {
  font-family: ui-monospace;
  padding: 2%;
  font-size: revert-layer;
  color: #7045afad;
  border: 7px solid #bbb1ec;
  border-bottom: 7px solid beige;
  border-top: 7px solid #6f77d0;
}

.title_secondary_title {
  display: flex;
  justify-content: center;
  border: 4px solid #bbb1ec;
  border-bottom: 4px solid beige;
  border-top: 7px solid #6f77d0;
  font-family: ui-monospace;
  font-size: revert-layer;
  color: #8a7fc2;
  

}

.navigation_bar {
  font-family: ui-monospace;
  font-size: 30px;
  margin: 0% auto;
  order: 7px solid violet;
  border: solid 6px #bbb0f1;
  border-top: 7px solid #8383d0;
  border-bottom: 7px solid aliceblue;
  flex-direction: row;
  flex-wrap: nowrap;
  
}


#main_variable {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#main_special {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


.imge_index {   
  display: flex;
  align-items: stretch;
  align-content: stretch;
}


#photo {
  height: auto;
  max-width: 100%;
  border: solid 5px black;
}


#formularie {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #d9d3d3;
  margin-top: auto;
  margin-bottom: auto;
}


.question {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  font-size: -webkit-xxx-large;
  color: #7045afad;
  border: 7px solid #bbb1ec;
  border-bottom: 7px solid beige;
  border-top: 7px solid #6f77d0;
}


.form{
  border: solid 6px #bbb0f1;
  border-top: 4px solid #8383d0;
  border-bottom: 5px solid aliceblue;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}


input,
textarea,
select,
button {
  width: 470px;
  padding: 7px;
  margin: 18px;
  box-sizing: border-box;
}


.img_p {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

#genres {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.characterset {
  display: grid;
  grid-template-columns: repeat(3,200px);
}
